body {
    // background-image: url(/images/wallpaper1.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: auto;
    max-width: 100%;
    height: auto;
    
}

p {
    font-size: 80px;
    color: aliceblue;
}